body {
  width: 100%;
  height: 100vh;
  margin: 0;

}

/*LOGIN*/
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../src/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container {
  width: 300px !important;
  font-family: 'Joti One', cursive;
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.tabs2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #aaa;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.tab2 {
  cursor: pointer;
}

.tab.active {
  color: #fff;
  border-color: #fff;
}

.form {
  display: none;
}

.form.active {
  display: block;
}


.avatar img {
  width: 250px;
  object-fit: contain;
  margin-left: 15px;
}
/*estilo pequeño modal*/
.avatar-menu {
  width: 100%;
  position: relative;
  display: inline-block;
}

.avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #fff;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1000;
  font-family: sans-serif;
}

.menu-dropdown.active {
  display: block;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.menu-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.menu-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-dropdown ul li {
  border-top: 1px solid #eee;
}

.menu-dropdown ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}


.menu-dropdown ul li a:hover {
  background-color: #f5f5f5;
}

label {
  color: #fff;
  font-weight: bold;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #e0e0e0;
  color: #333;
}

.botonUni {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #e0e0e0;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/*HOME*/

.demas {
  background-color: #0a0a0a;
}

.header {
  font-family: 'Joti One', cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* logo a la izq, avatar a la der */
  padding: 0 20px;
  height: 100px;
  background: #0a0a0a;
  gap: 20px;

}

.logo img {
  height: 40px;
}

.munus {
  display: flex;
  align-items: center;
  justify-content: end;
  color: rgb(255, 255, 255);
  gap: 15px;
  flex-grow: 1;
  /* Para que ocupe el espacio entre logo y avatar */
  margin: 0 20px;
  /* Espacio a los lados */
}

.munus a {
  text-decoration: none;
  color: #ffffff;
}

.busca {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  font-family: 'Joti One', cursive;
}

.avatara img {
  width:70px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}


.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seccion {
  padding: 30px;
  border-top: 1px solid #666;
}

.seccion h2 {
  color: white;
  font-family: 'Joti One', cursive;
}

.contenidoo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*TARGETA DISEÑO*/
.card {
  display: flex;
  background-color: #1b1b1b;
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 420px;
  font-family: 'Joti One', cursive;
  box-shadow: 0 10px 20px #3543a1;
  margin: 20px;
}

.manga-image {
  width: 120px;
  object-fit: cover;
}

.manga-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.manga-meta {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  color: #ffffff;
  margin-bottom: 4px;
}

.status {
  background-color: #3949ab;
  padding: 3px 8px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 4px;
  font-size: 0.7rem;
}

.manga-title {
  font-size: 1.2rem;
  margin: 6px 0;
  color: #fff;
}

.author {
  font-size: 0.85rem;
  margin-bottom: 8px;
  color: #ccc;
}

.manga-tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.tag {
  background-color: #333;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.7rem;
}

.manga-tags .tag:hover {
  background-color: #3948abbb;
}

/*footer*/
.footer {
  background-color: #0a0a0a;
  color: #eee;
  padding: 30px 20px;
  font-family: 'Joti One', cursive;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.footer-logo img {
  width: 60px;
  margin-bottom: 10px;
}

.footer-links a,
.footer-social a {
  color: #eee;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #ff4081;
}

.footer-social img {
  width: 24px;
  margin: 0 5px;
}



/*info targeta */
.ficha-manga {
  display: flex;
  gap: 30px;
  padding: 25px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  max-width: 1000px;
  margin: 40px auto;
  font-family: 'Joti One', cursive, sans-serif;
}

.ficha-imagen {
  align-content: center;
}

.ficha-imagen img {
  width: 240px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.ficha-contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ficha-contenido h1 {
  font-size: 2rem;
  margin: 0;
}

.ficha-contenido h3 {
  font-size: 1.1rem;
  color: #4a5568;
  margin: 0;
}

.subtitulo {
  font-style: italic;
  color: #718096;
}

.generos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.genero {
  background-color: #2b6cb0;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 9999px;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: pointer;
}

.sinopsis {
  font-size: 0.95rem;
  color: #4a5568;
}

.detalles {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #2d3748;
}

.detalles li {
  margin-bottom: 5px;
}

.acciones {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
}

.lo-tengo {
  background-color: #e0f2fe;
  color: #0284c7;
}

.lo-tengo:hover {
  background-color: #1377b1;
  color: white;
}

.comprar {
  background-color: #2b6cb0;
  color: #fff;
}

.comprar:hover {
  background-color: #ffffff;
  color: #2b6cb0;
  border: 2px solid #2b6cb0;
}


/*PERFIL*/


.perfil {
  margin-top: 5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-info h2 {
  margin: 0;
  font-size: 24px;
}

.user-info p {
  color: #777;
  margin: 5px 0 15px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  color: #555;
}


@media (max-width: 768px) {
  .ficha-manga {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ficha-imagen img {
    width: 70%;
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
  }
}